<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="description" content=''>
    <meta name="keywords" content="">
    <meta name="author" content="Kevin Freire">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Olá mundo!</h1>

<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" defer></script>
<script src="https://kit.fontawesome.com/169263c84a.js" crossorigin="anonymous"></script>
<script src="js/main.js" defer></script>
</body>
</html>