*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	font-family: sans-serif;
	background-image: url(../bg2.jpg);
	background-size: cover;
	background-position: center;
}

.alerta{
	position: fixed;
	right: 30px;
	top: 30px;
	font-size: 20px;
	color: white;
	padding: 10px 20px;
	border-radius: 15px;
	border: 2px solid white;
}

.alerta.sucesso{ background: #22bb33;}

.alerta.erro{ background: #bb2124;}

.container{
	max-width: 500px;
	width: 95%;
	background: #03a8f47a;
	border-radius: 10px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	padding: 30px 20px;
	backdrop-filter: blur(3px);
	box-shadow: 0px 5px 15px 5px #e5f7ffa7;
	border: 4px solid #e5f7ff;
}

.lista-pastas{
	padding: 15px 10px;
	background-color: #e5f7ff;
	border-radius: 20px;
}

h1{
	text-align: center;
	font-size: 30px;
	margin-bottom: 15px;
	color: #F24E02;
}

li{list-style-type: none;}

a{
	display: block;
	text-decoration: none;
	padding: 10px 0;
	color: #5602F5;
	transition: 0.3s;
	padding-left: 10px;
	padding-top: 15px;
	border-bottom: 1px solid #5602F5;;
	text-transform: capitalize;
	font-size: 18px;
}

a:hover{
	color: #8e54f9;
	text-shadow: #5602F5 1px 0 10px;
}

.novo-projeto{
	text-align: right;
	margin-top: 30px;
	color: white;
	
}

.btn-new{
	padding: 10px 30px;
	cursor: pointer;
	display: inline-block;
	transition: 0.3s;
}

.btn-new:hover span{ color: #ff5b28;}

.novo-projeto form{
	display: none;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50% , -50%);
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(50px);
	text-align: left;
	padding: 20px 10px;
	border-radius: 10px;
	z-index: 1;
}

.novo-projeto .close{ text-align: right;}

.novo-projeto .close span{
	cursor: pointer;
	padding: 5px;
}

.novo-projeto label{
	margin-bottom: 5px;
	display: block;
}

.novo-projeto input[type=text]{
	background: transparent;
	width: 100%;
	padding-left: 5px;
	border: 0;
	border-bottom: 1px solid white;
	margin-bottom: 10px;
	outline: none;
	color: white;
	font-size: 20px;
	font-weight: lighter;
}

.novo-projeto select{outline: none; 
	width: 100%;
	padding-left: 5px;
	border: 0;
	border-bottom: 1px solid white;
	margin-bottom: 10px;
	outline: none;
	font-size: 20px;
	font-weight: lighter;;}

.novo-projeto p{margin: 20px 0; border-bottom: 1px dotted;}

.novo-projeto input[type=submit]{
	display: inline-block;
	border: none;
	background: transparent;
	color: #ff5b28;
	font-size: 20px;
	margin-top: 15px;
	cursor: pointer;
}